<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>,
    <p>
      Thanks for joining our clone of StackOverflow! We're excited to have you.
      Please visit us and post some questions!

      Thanks,
      The Cloney Island Stack Team
      <a href=https://pure-wildwood-52964.herokuapp.com/>Come hang out!</a>
    </p>
  </body>
</html>
