<div id="answer-comments" class="blue-text">
  <% answer.comments.each do |comment| %>
    <div id="answer-comment-body" style= padding-left:50px;>
      <p><%= comment.body %></p>
    </div>
    <div id="answer-comment-details" class="right card-action">
      <p>Author: <%= comment.find_user %> Updated: <%= comment.updated_at.strftime("%D at %r") %></p><br>
    </div>
  <% end %>
</div>
<br><br>
