  <div class="card-panel">
    <div id="answer-comment-body" style= padding-left:50px;>
      <h5><%= comment.body %></h5>
      <div id='delete-comment-button' class='left card-action'>
        <% if current_admin? || current_users_comment?(comment)%>
        <%= button_to "Delete Comment", comment_path(comment), method: :delete, class: "white-text waves-effect red darken-4 btn-small" %>
        <% end %>
      </div>
    </div>
    <div id="answer-comment-details" class="right card-action">
      <p>Author: <%= comment.find_user %> Updated: <%= comment.updated_at.strftime("%D at %r") %></p><br>
    </div>
    <br><br>
  </div>
