  <div class="card white">
    <div class="card-content black-text">
      <div class="blue-text" id="question-comment-body"  style= padding-left:50px;>
        <h4><%= comment.body %></h4>
      </div>
      <br>
      <div id="question-comment-details" class="right card-action">
        <p>Author: <%= comment.find_user %> Updated: <%= comment.update_date %></p><br>
      </div>
      <br><br>
    </div>
    <div class="card-action">
      <div style="display:inline-block; vertical-align: middle;">
        <div id='delete-comment-button' class='left'>
          <% if current_admin? || current_users_comment?(comment)%>
            <%= button_to "Delete Comment", comment_path(comment), method: :delete, class: "white-text waves-effect red darken-4 btn-small" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
