<div id="question-comments" class="blue-text">
  <% @question.comments.each do |comment| %>
    <% unless comment.body.nil? %>
      <div class="card-panel">
        <div id="question-comment-body" class="card-action" style= padding-left:50px;>
          <p><%= comment.body %></p>
          <div id='delete-comment-button' class='left card-action'>
            <% if current_admin? || current_users_comment?(comment)%>
              <%= button_to "Delete Comment", comment_path(comment), method: :delete, class: "waves-effect red darken-4 waves-light btn-small" %>
            <% end %>
          </div>
        </div>
        <div id="question-comment-details" class="right card-action">
          <p>Author: <%= comment.find_user %> Updated: <%= comment.update_date %></p><br>
        </div>
        <br><br>
      </div>
    <% end %>
  <% end %>
</div>
<br><br>
