  <div class="col s12 m6">
    <div class="card-small blue lighten-3">
      <table class='centered' id='users-to-deactivate'>
        <thead>
          <tr>
              <th>Users for Investigation</th>
          </tr>
        </thead>
        <tbody>
          <% User.need_to_block.each do |user|%>
            <tr>
              <td id='bad-user'>
                <%= link_to user.name, user_path(user) %> Reputation: <%= user.reputation %> </br>
                <%= button_to "Deactivate User", user_permission_path(user), method: :put, class: "waves-effect red darken-1 waves-light btn-small right" %>
              </td>
            </tr>
          <% end %>

        </tbody>
      </table>
    </div>
  </div>
</div>
