
<div class="row">
  <div class="col s12 m5">
    <div class="card-panel blue lighten-3">
      <table class='centered' id='user-show-questions'>
        <thead>
          <tr>
              <th>Your Most Recent Questions</th>
          </tr>
        </thead>
        <tbody>
          <% current_user.questions.last(5).each do |question|%>
            <tr>
              <td>
                <%= link_to question.title, question_path(question) %>
              </td>
            </tr>
          <% end %>

        </tbody>
      </table>
    </div>
  </div>
</div>
