
<div class="row">
  <div class="col s12 m6">
    <div class="card-large blue lighten-3">
      <table class='centered' id='user-show-questions'>
        <thead>
          <tr>
              <th>Your Most Recent Questions</th>
          </tr>
        </thead>
        <tbody>
          <% current_user.recent_questions.each do |question|%>
            <tr>
              <td>
                <%= link_to question.title, question_path(question) %> </br>
                Updated at: <%= question.updated_date_and_time %>
              </td>
            </tr>
          <% end %>

        </tbody>
      </table>
    </div>
  </div>
