<div class="row">
  <div class="col s12 m12" id='user-info'>
    <div class="card-panel blue lighten-3">
      <span class="center black-text">
        <h4>Your Account Information</h4><br>
      </span>
      <%= render 'users/user_info' %>
    </div>
  </div>
</div>
  <%= render 'users/user-show-questions' %>
  <%= render 'users/user-show-answers' %>
