
nav {
  background-color: #fff;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.page-footer {
  padding-top: 20px;
  background-color: #242729;
}
main {
  flex: 1 0 auto;
}
.collection
a.collection-item {
    color: #0095ff;
}


.alert-success {
  border-style: solid;
  border-width: 2px;
  color: green;
}


.alert-danger {
  border-style: solid;
  border-width: 2px;
  color: red;
}
