nav {
    background-color: #fff;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.page-footer {
    padding-top: 20px;
    background-color: #fff;
}
main {
  flex: 1 0 auto;
}
