<footer class="page-footer">
 <div class="container">
   <div class="row">
     <div class="col l6 s12">
       <h5 class="Black-text">Footer Content</h5>
       <p class="black-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
     </div>
     <div class="col l4 offset-l2 s12">
       <h5 class="Black-text">Cloney Island Project Dev Team</h5>
       <ul>
         <li><a class="black-text text-lighten-3" href="https://github.com/TheKaterTot">Katy Farmer</a></li>
         <li><a class="black-text text-lighten-3" href="https://github.com/Ryanspink1">Ryan Spink</a></li>
         <li><a class="black-text text-lighten-3" href="https://github.com/andrewdwooten">Andrew Wooten</a></li>
         <li><a class="black-text text-lighten-3" href="https://github.com/blackknight75">Daniel Olson</a></li>
         <li><a class="black-text text-lighten-3" href="https://github.com/maxglassie">Max Glassie</a></li>
       </ul>
     </div>
   </div>
 </div>
 <div class="footer-copyright">
   <div class="container">
   © 2017 Copyright Text
   <a class="black-text text-lighten-4 right" href="#!">More Links</a>
   </div>
 </div>
</footer>
