<nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left">
        <li><img class="left responsive-img" src="assets/stack_logo.png" height=15% width=15%></li>
      </ul>
      <ul id="nav-mobile" class="right">
        <li><a href="collapsible.html" class="black-text">Login</a></li>
      </ul>
    </div>
</nav>
