<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="left">
      <li><a href=<%= root_path  %>><img src="/assets/stack_logo.png" height=15% width=15%></a></li>
      <li><a href=<%= questions_path %> class="black-text">Questions</a></li>
      <li> <a href=<%= new_question_path%> class="black-text">Ask Question</a></li>
    </ul>
    <ul id="nav-mobile" class="right">
      <li><a href="/login" class="black-text">Login</a></li>
      <li><a class="waves-effect blue darken-1 waves-light btn">Sign Up</a></li>
    </ul>
  </div>
</nav>
