<nav>
    <div class="nav-wrapper">
      <img class="left responsive-img" src="assets/stack_logo.png" height=15% width=15%>
      <ul id="nav-mobile" class="right">
        <li><a href="sass.html" class="black-text">Sass</a></li>
        <li><a href="badges.html" class="black-text">Components</a></li>
        <li><a href="collapsible.html" class="black-text">Login</a></li>
      </ul>
    </div>
</nav>
